*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
}
#infos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cabecalho{
    font-size: medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.upper-menu{
    background-color: rgb(164, 187, 187);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 100%;
    gap: 8%;
}

#foto_perfil{
    width: 12%;
    height: 12%;
    border-style: outset ;
    border-radius: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#bottom-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap:20%;
    width: 100%;
    
}

#texto-introducao{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(92, 190, 219);
    border-style:inset;
    border-radius: 15px;
    width: 400px;
}

.navigation{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.item-lista{
    text-decoration: none;
    color: black;
}

@keyframes mudar_cor {
    from {background-color: red;}
    to {background-color: blue;}
  }

.botao{
    background-color: red;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;

}

.botao:hover{
    background-color: yellow;
}

@media (max-width:700px){
    #bottom-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #texto-introducao{
        width: 80%;
    }

    #list{
        width: 80%;
    }
}